<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head></head>
    <body>
        <h1>Welcome!</h1>
        <div sec:authentication="name">
            The value of the "name" property of the authentication object should appear here.
        </div>
        <div>
            <h2>Product List</h2>
            <table >
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Added Date</th>
                </tr>
                <tr th:each="product : ${products}">
                    <td th:text="${#numbers.formatInteger(product.id,1)}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.owner}"></td>
                    <td th:text="${#numbers.formatDecimal(product.price / 100.00,1,'POINT',2,'COMMA')}"></td>
                    <td th:text="${#numbers.formatInteger(product.stock,1)}"></td>
                    <td th:text="${#dates.format(product.creationtime, 'dd/MMM/yyyy HH:mm')}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>