<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head></head>
    <body>
        <h1>Welcome!</h1>
        <div>
            User id: [[ ${#authentication.principal.id} ]]<br>Username is: [[ ${#authentication.principal.username} ]]<br>Balance: [[ ${balance / 100.00} ]]
        </div>

        <div>
            <h2>Product List</h2>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Added Date</th>
                    <th>Action</th>
                </tr>
                <tr th:each="product : ${products}">
                    <td th:text="${#numbers.formatInteger(product.id,1)}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.owner}"></td>
                    <td th:text="${#numbers.formatDecimal(product.price / 100.00,1,'POINT',2,'COMMA')}"></td>
                    <td th:text="${#numbers.formatInteger(product.stock,1)}"></td>
                    <td th:text="${#dates.format(product.creationtime, 'dd/MMM/yyyy HH:mm')}"></td>
                    <td>
                        <form method="POST" th:action="@{'/{productId}'(productId=${product.id})}">
                            <button type="submit" th:text="Buy"></button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>